In [12]:
import pandas as pd

In [13]:
base = pd.read_csv('bank-full.csv', delimiter=';')

In [14]:
base

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [15]:
base["pdays"].value_counts()

pdays
-1      36954
 182      167
 92       147
 91       126
 183      126
        ...
 449        1
 452        1
 648        1
 595        1
 530        1
Name: count, Length: 559, dtype: int64

In [16]:
base.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [17]:
base["poutcome"].value_counts()

poutcome
unknown    36959
failure     4901
other       1840
success     1511
Name: count, dtype: int64

In [18]:
#1 - FaÃ§a a dummificaÃ§Ã£o nas variÃ¡veis categÃ³ricas.
# conv = {
#     "no" : 0,
#     "yes": 1
# }
# base["default"] = base["default"].replace(conv)
# base["housing"] = base["housing"].replace(conv)
# base["loan"] = base["loan"].replace(conv)


from pyparsing import col



categorica = pd.get_dummies(base, columns=["job","marital", "education","default", "housing", "loan", "contact", "month", "poutcome"])

In [19]:
base.drop(columns=["job","marital", "education","default", "housing", "loan", "contact", "month", "poutcome"])

       age  balance  day  duration  campaign  pdays  previous    y
0       58     2143    5       261         1     -1         0   no
1       44       29    5       151         1     -1         0   no
2       33        2    5        76         1     -1         0   no
3       47     1506    5        92         1     -1         0   no
4       33        1    5       198         1     -1         0   no
...    ...      ...  ...       ...       ...    ...       ...  ...
45206   51      825   17       977         3     -1         0  yes
45207   71     1729   17       456         2     -1         0  yes
45208   72     5715   17      1127         5    184         3  yes
45209   57      668   17       508         4     -1         0   no
45210   37     2971   17       361         2    188        11   no

[45211 rows x 8 columns]

In [20]:
base2 = pd.concat([base, categorica], axis=1)

base2

,age,job,marital,education,default,balance,housing,loan,contact,day,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,...,False,False,True,False,False,False,False,False,False,True
1,44,technician,single,secondary,no,29,yes,no,unknown,5,...,False,False,True,False,False,False,False,False,False,True
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,...,False,False,True,False,False,False,False,False,False,True
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,...,False,False,True,False,False,False,False,False,False,True
4,33,unknown,single,unknown,no,1,no,no,unknown,5,...,False,False,True,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,...,False,False,False,True,False,False,False,False,False,True
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,...,False,False,False,True,False,False,False,False,False,True
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,...,False,False,False,True,False,False,False,False,True,False
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,...,False,False,False,True,False,False,False,False,False,True
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,...,False,False,False,True,False,False,False,True,False,False

In [25]:

#Variaveis categoricas default, housing, loan, marital


#2 - Separes as bases em variÃ¡veis independentes e dependentes.
from matplotlib.pylab import RandomState
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier


x= base2.drop(columns= "loan")
y = base2["loan"]

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state= 28)
#3 - Crie a base de treino e de teste.
modelo = RandomForestClassifier()

modelo.fit([xtrain],[ytrain])

#4 - Crie o classificador
#5 - Avalie o classificador

ValueError: could not convert string to float: 'technician'