In [1]:
import pandas as pd

In [8]:
base = pd.read_csv('breast-cancer-dataset.csv')

In [15]:
base['Menopause'] = base['Menopause'].astype(str)
base_dummies = base[['Menopause','Metastasis']]
display(base_dummies)

    Menopause Metastasis
0           1          0
1           1          0
2           0          0
3           1          0
4           1          0
..        ...        ...
208         1          1
209         1          0
210         1          0
211         1          0
212         0          0

[213 rows x 2 columns]

In [31]:
base_dummies_menopause = base['Menopause']
base_dummies_menopause = pd.get_dummies(base_dummies_menopause, dtype=int)
display(base_dummies_menopause)

     0  1
0    0  1
1    0  1
2    1  0
3    0  1
4    0  1
..  .. ..
208  0  1
209  0  1
210  0  1
211  0  1
212  1  0

[213 rows x 2 columns]

In [24]:
type(base_dummies)

pandas.core.series.Series

In [33]:
base_dummies_menopause = base['Menopause']
base_dummies_menopause = pd.get_dummies(base_dummies_menopause, dtype=int)
base_dummies_metastasis = base['Metastasis']
base_dummies_metastasis = pd.get_dummies(base_dummies_metastasis, dtype=int)
base_dummies = pd.concat([base_dummies_menopause,base_dummies_metastasis], axis = 1)
display(base_dummies)

     0  1  #  0  1
0    0  1  0  1  0
1    0  1  0  1  0
2    1  0  0  1  0
3    0  1  0  1  0
4    0  1  0  1  0
..  .. .. .. .. ..
208  0  1  0  0  1
209  0  1  0  1  0
210  0  1  0  1  0
211  0  1  0  1  0
212  1  0  0  1  0

[213 rows x 5 columns]

In [34]:
base_dummies_menopause = base[['Menopause']]
base_dummies_menopause = pd.get_dummies(base_dummies_menopause, dtype=int)
base_dummies_metastasis = base[['Metastasis']]
base_dummies_metastasis = pd.get_dummies(base_dummies_metastasis, dtype=int)
base_dummies = pd.concat([base_dummies_menopause,base_dummies_metastasis], axis = 1)
display(base_dummies)

     Menopause_0  Menopause_1  Metastasis_#  Metastasis_0  Metastasis_1
0              0            1             0             1             0
1              0            1             0             1             0
2              1            0             0             1             0
3              0            1             0             1             0
4              0            1             0             1             0
..           ...          ...           ...           ...           ...
208            0            1             0             0             1
209            0            1             0             1             0
210            0            1             0             1             0
211            0            1             0             1             0
212            1            0             0             1             0

[213 rows x 5 columns]

In [3]:
#1 - Apague a coluna S/N
#2 - Faça a dummificação nas variáveis categóricas.
#3 - Separes as bases em variáveis independentes e dependentes.
#4 - Crie a base de treino e de teste.
#5 - Crie o classificador
#6 - Avalie o classificador

,S/N,Year,Age,Menopause,Tumor Size (cm),Inv-Nodes,Breast,Metastasis,Breast Quadrant,History,Diagnosis Result
0,1,2019,40,1,2,0,Right,0,Upper inner,0,Benign
1,2,2019,39,1,2,0,Left,0,Upper outer,0,Benign
2,3,2019,45,0,4,0,Left,0,Lower outer,0,Benign
3,4,2019,26,1,3,0,Left,0,Lower inner,1,Benign
4,5,2019,21,1,1,0,Right,0,Upper outer,1,Benign
...,...,...,...,...,...,...,...,...,...,...,...
208,209,2020,49,1,6,3,Right,1,Lower inner,1,Malignant
209,210,2020,28,1,3,0,Left,0,Upper inner,0,Benign
210,211,2020,22,1,1,0,Left,0,Upper outer,1,Benign
211,212,2020,19,1,1,0,Left,0,Lower inner,1,Benign
212,213,2020,50,0,4,0,Right,0,Lower outer,1,Benign